.DS_Store
node_modules/
dist/
mockups/**
!mockups/
!mockups/*.webm
demos/*.mp4
!demos/search demo.mp4
!demos/preview demo.mp4
demos/*.wav
demos/*.mov
demos/*.aep
demos/*.prproj
demos/*.prin
demos/Adobe After Effects Auto-Save/
demos/Adobe Premiere Pro Auto-Save/
demos/Sidestream Downloads/
demos/**/*.screenstudio/
.vercel
.env*.local
.env*
